@media(max-width:800px){
    nav{
        display: flex;
        align-items: center;
        width: 100%;
        height: 13%;
        background-color: rgba(0, 0, 0, 0.678);
        transition: cubic-bezier(0.55, 0.055, 0.675, 0.19).5s;
        padding: 0px 10px;
    }
    nav #logo img{
        width: 80px;
    }

    nav ul{
         display: block;
        width: 100%;
        height:100vh;   
        position: absolute;
        top: 75px;
        left: -100%;
        transition: .5s;
        background-color: rgba(0, 0, 0, 1);
        text-align: center;
    }
    nav ul.active{
        left: 0%;
    }
    nav ul li{
        font-size: 25px;
        margin-top: 30px;
    }
    #bars{
        display: block;
    }
    #lsec{
        display: none;
    }
    #container1{
        min-height: 80%;
    }
    #container1 img{ 
     height: 100%;
      
    }
    #pbsec{
        display: none;
    }
    #overlay{
        position: absolute;
        top: 0;
    }
    #overlay #msec{
        text-align: left;
        position: absolute;
        width: 100%;
        padding: 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
       
    }
    #overlay #msec h1{
        font-size: 40px;
    }
    #overlay #msec p{
        font-size: 16px;
    }
    #overlay #msec  h3{
        font-size: 16px;
    }
    #container2{
       
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        align-items: center;
      
    }
    #container2 #mimg{
        margin-top: 15px;
        width: 80%;
        height: 60vh;
        background-color: chocolate;
    }
    #mimg img{
        width: 100%;
    }
    #container2 #con{
        width: 100%;
        padding: 5px;
        margin-left: 0px;
       
    }
    #container2 #con p{
        width: 100%;
        
    }
    #container3{
        width: 100%;
    }
    #container3 div{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #container4{
        padding: 10px;
    }
    #container4 h1{
        font-size: 30px;
    }
    #container4 #con{
       
        margin-top: 20px;
    }
    .Cons img{
        width: 20%;
        height: 80%;
        opacity: 0;
    }
    .Cons #cond h3{
        letter-spacing: 1px;
        font-size: 17px;
    }
     #cond a{
        font-size: 14px;
    }
    #cond{
        margin-left: 10px;
    }
    #cond p{
       
        width: 90%;
        margin-top: 10px;
        font-size: 10px;
    }
    .Cons #cont{
        margin-top: 20px;
    }
    
    .Cons #cont h3{
        letter-spacing: 1px;
        font-size: 17px;
    }
    #cont p{
        margin-top: 20px;
        font-size: 10px;
    }
    #container5{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        align-items: center;
    }
    #container5 #bcon{
        min-width: 100%;
        padding: 5px;
        margin-left: 0px;
        height: 350px;
    }
    #container5 #bimg{
        margin-left: 0;
        width: 50%;
        height: 30%;
        background-color: chocolate;
    }
    #container5 #bimg img{
        height: 100%;
        width: 100%;
    }
    #container6 #mid{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px;
    
    }
    #ld{
        position: relative;
        width: 50%;
        height: 70%; 
    }
    #ld img{
        width: 100%;   
    }
    #md{
        width: 100%;
       
        
    }
    #md h3{
        font-size: 25px;
       
    }
    #md ul li{
      
        font-size: 15px;
    }
    #rd{position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
         width: 100%;
        height: 70%;
        color: white;
        
    }
    #rd h3{
        font-size: 25px;
        opacity: .9;
        letter-spacing: 1px;
        font-weight: 400;
        font-family: 'Playfair Display', serif;
    }
    #rd ul li{
        font-size: 15px;
    }
    #rd .circle{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        position: absolute;
        top: 20%;
        transform: rotate(-90deg);
    }
    
    #brd{font-size: 28px;}
    #brd i:nth-child(2){margin-left: 10px;}
    #container6 footer{
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        align-items: center;
    }
    #container6 #fl{
        display: none;
    }
    #container6 #fr{
      
        margin-top: 10px;
    }
    .remove1{
        width: 100%;
        height: 80px;
        z-index: 9900;
        color: white;
        background-color:black;
        position: fixed;
        bottom: 0%;
        right:0%;
        word-spacing: 1px;
        font-size: 13px;
        padding: 0px 5px;
    }
    

}